{% extends 'base.html.twig' %}

{% block body %}
    <h1>Presencetypes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Description</th>
                <th>Countasabsence</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Deletedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for presenceType in presenceTypes %}
            <tr>
                <td><a href="{{ path('presencetype_show', { 'id': presenceType.id }) }}">{{ presenceType.id }}</a></td>
                <td>{{ presenceType.label }}</td>
                <td>{{ presenceType.description }}</td>
                <td>{% if presenceType.countAsAbsence %}Yes{% else %}No{% endif %}</td>
                <td>{% if presenceType.createdAt %}{{ presenceType.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if presenceType.updatedAt %}{{ presenceType.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if presenceType.deletedAt %}{{ presenceType.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('presencetype_show', { 'id': presenceType.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('presencetype_edit', { 'id': presenceType.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('presencetype_new') }}">Create a new presenceType</a>
        </li>
    </ul>
{% endblock %}
