{% extends 'default/index.html.twig' %}

{% block content %}
    <div class="row">
        <h1 class="col-xs-6">Typ obecności #{{presenceType.id}}</h1>
        <div class="col-xs-6"><a class="btn btn-ssok" href="{{ path('presencetype_index') }}">Powrót do listy</a></div>
        <div class="col-xs-12 admin-show">
            <div class="admin-details">
                <div class="admin-label col-xs-3">Nazwa</div><div class="admin-content col-xs-9">{{presenceType.label}}</div>
            </div>
            <div class="admin-details">
                <div class="admin-label col-xs-3">Opis</div><div class="admin-content col-xs-9">{{presenceType.description}}</div>
            </div>
            <div class="admin-details">
                <div class="admin-label col-xs-3">Czy liczona jako nieobecna?</div><div class="admin-content col-xs-9">{% if presenceType.countAsAbsence %}Tak{% else %}Nie{% endif %}</div>
            </div>
            <div class="admin-details">
                <div class="admin-label col-xs-3">Czy do wyboru dla rodzica?</div><div class="admin-content col-xs-9">{% if presenceType.forParent %}Tak{% else %}Nie{% endif %}</div>
            </div>
        </div>
        <div class="col-xs-12">
            <a class="btn btn-ssok" href="{{ path('presencetype_edit', { 'id': presenceType.id }) }}">Edytuj</a>
        </div>
    </div>
{% endblock %}
