{% extends 'default/index.html.twig' %}

{% block content %}
    <div class="row">
        <h1 class="col-xs-6">Przedmiot #{{subject.id}}</h1>
        <div class="col-xs-6"><a class="btn btn-ssok" href="{{ path('subject_index') }}">Powrót do listy</a></div>
        <div class="col-xs-12 admin-show">
            <div class="admin-details">
                <div class="admin-label col-xs-3">Nazwa</div><div class="admin-content col-xs-9">{{subject.title}}</div>
            </div>
            {% if subject.teachers is not empty %}
            <div class="admin-details">
                {% for teacher in subject.teachers %}
                    <div class="admin-label col-xs-3">{% if loop.first %}Nauczyciele{% endif %}</div><div class="admin-content col-xs-9">{{teacher}}</div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="col-xs-12">
            <a class="btn btn-ssok" href="{{ path('subject_edit', { 'id': subject.id }) }}">Edytuj</a>
        </div>
    </div>
{% endblock %}
