{% extends 'default/index.html.twig' %}

{% block content %}
    <h1>Lista Klas</h1>
    <ul>
        <li>
            <a href="{{ path('schoolclass_new') }}">Dodaj klasę</a>
        </li>
    </ul>

    <table class="datatable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Klasa</th>
                <th>Wychowawca</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            {% for schoolClass in schoolClasses %}
                <tr>
                    <td><a href="{{ path('schoolclass_show', { 'id': schoolClass.id }) }}">{{ schoolClass.id }}</a></td>
                    <td>{{ schoolClass.number }}{{ schoolClass.letter }}</td>
                    <td>{#{{ schoolClass.teacher.firstname }} {{ schoolClass.teacher.surname }}#}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('schoolclass_show', { 'id': schoolClass.id }) }}">Pokaż</a>
                            </li>
                            <li>
                                <a href="{{ path('schoolclass_edit', { 'id': schoolClass.id }) }}">Edytuj</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
