{% extends 'default/index.html.twig' %}

{% block content %}
    <div class="row">
        <h1 class="col-xs-6">Lista klas</h1>
        <div class="col-xs-6"><a class="btn btn-ssok" href="{{ path('schoolclass_new') }}">Dodaj klasę</a></div>
        <div class="col-xs-12">
            <table class="datatable table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Klasa</th>
                        <th>Wychowawca</th>
                        <th>Akcje</th>
                    </tr>
                </thead>
                <tbody>
                    {% for schoolClass in schoolClasses %}
                        <tr>
                            <td><a href="{{ path('schoolclass_show', { 'id': schoolClass.id }) }}">{{ schoolClass.id }}</a></td>
                            <td>{{ schoolClass.number }}{{ schoolClass.letter }}</td>
                            <td>{{ schoolClass.teacher.firstname }} {{ schoolClass.teacher.surname }}</td>
                            <td>
                                <ul class="actions">
                                    <li>
                                        <a href="{{ path('schoolclass_show', { 'id': schoolClass.id }) }}">Pokaż</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('schoolclass_edit', { 'id': schoolClass.id }) }}">Edytuj</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
