{% extends 'default/index.html.twig' %}

{% block content %}
    <div class="row">
        <h1 class="col-xs-6">Klasa #{{schoolClass.id}}</h1>
        <div class="col-xs-6"><a class="btn btn-ssok" href="{{ path('schoolclass_index') }}">Powrót do listy</a></div>
        <div class="col-xs-12 admin-show">
            <div class="admin-details">
                <div class="admin-label col-xs-3">Numer klasy</div><div class="admin-content col-xs-9">{{schoolClass.number}}</div>
            </div>
            <div class="admin-details">
                <div class="admin-label col-xs-3">Typ klasy</div><div class="admin-content col-xs-9">{{schoolClass.letter}}</div>
            </div>
        </div>
        <div class="col-xs-12">
            <a class="btn btn-ssok" href="{{ path('schoolclass_edit', { 'id': schoolClass.id }) }}">Edytuj</a>
        </div>
    </div>
{% endblock %}
