{% extends 'default/index.html.twig' %}

{% block content %}
    <div class="row">
        <h1 class="col-xs-6">Oceny</h1>
        <div class="col-xs-12">
            <table class="studentTable table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Przedmiot</th>
                        <th>Oceny</th>
                        <th>Średnia</th>
                    </tr>
                </thead>
                <tbody>
                    {% for subject in subjects %}
                        {% set gradesSum = 0 %}
                        {% set gradesRateSum = 0 %}
                        <tr>
                            <td>{{subject.title}}</td>
                            <td style="width:auto;">
                                {% for grade in student.grades %}
                                    {% if grade.subject.title == subject.title %}
                                        {% set gradesSum = gradesSum + (grade.value*grade.gradetype.rate) %}
                                        {% set gradesRateSum = gradesRateSum + grade.gradetype.rate %}
                                        <span class="grade" style="color:{{grade.gradetype.color}}; border-color:{{grade.gradetype.color}}; cursor:initial;">{{grade.value}}</span>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>{% if gradesRateSum != 0%}{{ gradesSum/gradesRateSum }}{% endif %}</td>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}
