{% extends 'default/index.html.twig' %}

{% block content %}
    <div class="row">
        <h2 class="col-xs-12">{{monday|date('d-m-Y')}} - {{monday|date_modify('+4 day')|date('d-m-Y')}}</h2>
        <div class="col-xs-12">
            {% include 'default/Student/presencePlan.html.twig' with {'student' : student,'monday' : monday} %}
        </div>
    </div>
    <div class="row">
        <h2 class="col-xs-12">{{mondayBefore|date('d-m-Y')}} - {{mondayBefore|date_modify('+4 day')|date('d-m-Y')}}</h2>
        <div class="col-xs-12">
            {% include 'default/Student/presencePlan.html.twig' with {'student' : student,'monday' : mondayBefore} %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6"><a class="btn btn-ssok-left" href="{{ path('presencesStudentIndex' ,{'id': student.id,'date': date+1 })}}">Poprzedni okres</a></div>
        {% if date != 0 %}
            <div class="col-sm-6"><a class="btn btn-ssok" href="{{ path('presencesStudentIndex' ,{'id': student.id,'date': date-1 })}}">Następny okres</a></div>
        {% endif %}
    </div>
    {% if is_granted('ROLE_PARENT') %}
        <div class='presence-modal'>
            <form id="presence-form" name="presence-form" action="" method="post">
                <div class="form-group">
                    <div id="select-type">
                        <div>
                            <label>Zmiana obecności</label>
                            <select name="type" id="presence-type" class="form-control" required/>
                            </select>
                        </div>
                    </div>
                    <input type="hidden" name="student" value="{{student.id}}">
                    <input type="hidden" name="date" value="{{date}}">
                    <input type="hidden" name="presence" id="presence-input" value="">
                    <div>
                        <input name="submit" class="btn btn-ssok" type="submit" value="Zapisz"/>
                    </div>
                </div>
            </form>
        </div>
        <script>
            $(".presence-modal").dialog({
                autoOpen: false,
            });
            $.ajax({
                type: "GET",
                url: '{{ path('presence_get_types') }}',
                success: function ($data) {
                    $.each($data, function (i, val) {
                        option = '<option value="' + val.id + '">' + val.label + '</option>';
                        $("#presence-type").append(option);
                    });
                }
            });
            function changePresence(presence) {
                $('.presence-modal').dialog('open');
                action = '{{ path('presence_change') }}';
                document.getElementById("presence-form").action = action;
                $('#presence-input').val(presence);
            }
        </script>
    {% endif %}
{% endblock %}
