{% extends 'default/index.html.twig' %}

{% block content %}
    <h1>Presences list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Deletedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for presence in presences %}
            <tr>
                <td><a href="{{ path('presence_show', { 'id': presence.id }) }}">{{ presence.id }}</a></td>
                <td>{% if presence.date %}{{ presence.date|date('Y-m-d') }}{% endif %}</td>
                <td>{% if presence.createdAt %}{{ presence.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if presence.updatedAt %}{{ presence.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if presence.deletedAt %}{{ presence.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('presence_show', { 'id': presence.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('presence_edit', { 'id': presence.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('presence_new') }}">Create a new presence</a>
        </li>
    </ul>
{% endblock %}
