{% extends 'default/index.html.twig' %}

{% block content %}
    <div class="row">
        <h1 class="col-xs-6">Lista aktualności</h1>
        <div class="col-xs-6"><a class="btn btn-ssok" href="{{ path('information_new') }}">Dodaj aktualność</a></div>
        <div class="col-xs-12">
            <table class="datatable table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Tytu;</th>
                        <th>Data dodania</th>
                        <th>Akcje</th>
                    </tr>
                </thead>
                <tbody>
                    {% for information in information %}
                        <tr>
                            <td><a href="{{ path('information_show', { 'id': information.id }) }}">{{ information.id }}</a></td>
                            <td>{{ information.title }}</td>
                            <td>{{ information.createdAt|date('Y-m-d') }}</td>
                            <td>
                                <ul class="actions">
                                    <li>
                                        <a href="{{ path('information_show', { 'id': information.id }) }}"   ><i class="fa fa-eye" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="{{ path('information_edit', { 'id': information.id }) }}"   ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
