{% extends 'default/index.html.twig' %}

{% block content %}
    <div class="row">
        <h1 class="col-xs-6">Aktualność #{{information.id}}</h1>
        <div class="col-xs-6"><a class="btn btn-ssok" href="{{ path('information_index') }}">Powrót do listy</a></div>
        <div class="col-xs-12 admin-show">
            <div class="admin-details">
                <div class="admin-label col-xs-3">Tytuł</div><div class="admin-content col-xs-9">{{information.title}}</div>
            </div>
            <div class="admin-details">
                <div class="admin-label col-xs-3">Opis</div><div class="admin-content col-xs-9">{{information.description| raw}}</div>
            </div>
            <div class="admin-details">
                <div class="admin-label col-xs-3">Data dodania</div><div class="admin-content col-xs-9">{{ information.createdAt|date('Y-m-d') }}</div>
            </div>
        </div>
        <div class="col-xs-12">
            <a class="btn btn-ssok" href="{{ path('information_edit', { 'id': information.id }) }}">Edytuj</a>
        </div>
    </div>
{% endblock %}
