<ul class="sidebar-menu tree" data-widget="tree">
    <li class="header">Menu</li>
    <li>
        <a href="{{ path('homepage')}}"><i class="fa fa-home" aria-hidden="true"></i>Strona główna</a>
    </li>
    <hr>
    <li>
        <a href="{{ path('information_index')}}"><i class="fa fa-newspaper-o" aria-hidden="true"></i>Aktualności</a>
    </li>
    <li>
        <a href="{{ path('replecement_index')}}"><i class="fa fa-refresh" aria-hidden="true"></i>Zastępstwa</a>
    </li>
    <hr>
    <li>
        <a href="{{ path('student_index')}}"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Uczniowie</a>
    </li>
    <li>
        <a href="{{ path('teacher_index')}}"><i class="fa fa-users" aria-hidden="true"></i>Nauczyciele</a>
    </li>
    <li>
        <a href="{{ path('schoolclass_index')}}"><i class="fa fa-university" aria-hidden="true"></i>Klasy</a>
    </li>
    <li>
        <a href="{{ path('subject_index')}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Przedmioty</a>
    </li>
    <li>
        <a href="{{ path('presencetype_index')}}"><i class="fa fa-bell" aria-hidden="true"></i>Typy obecności</a>
    </li>
    <li>
        <a href="{{ path('gradetype_index')}}"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Typy ocen</a>
    </li>
</ul>

