<ul class="sidebar-menu tree" data-widget="tree">
    <li class="header">Menu</li>
    <li>
        <a href="{{ path('homepage')}}"><i class="fa fa-home" aria-hidden="true"></i>Strona główna</a>
    </li>
    <hr>
    <li>
        <a href="{{ path('newses')}}"><i class="fa fa-newspaper-o" aria-hidden="true"></i>Aktualności</a>
    </li>
    <li>
        <a href="{{ path('gradeStudentIndex',{'id': app.user.studentparent.student.id })}}"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Oceny</a>
    </li>
    <li>
        <a href="{{ path('commentStudentIndex',{'id': app.user.studentparent.student.id })}}"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Uwagi</a>
    </li>
    <li>
        <a href="{{ path('presencesStudentIndex' ,{'id': app.user.studentparent.student.id })}}"><i class="fa fa-bell" aria-hidden="true"></i>Obecności</a>
    </li>
    <li>
        <a href="{{ path('teacher_contact')}}"><i class="fa fa-phone" aria-hidden="true"></i>Kontakt</a>
    </li>
</ul>