{% extends 'default/index.html.twig' %}

{% block content %}
    <div class="row">
        <h1 class="col-xs-6">Nauczyciel #{{teacher.id}}</h1>
        <div class="col-xs-6"><a class="btn btn-ssok" href="{{ path('teacher_index') }}">Powrót do listy</a></div>
        <div class="col-xs-12 admin-show">
            <div class="admin-details">
                <div class="admin-label col-xs-3">Imię</div><div class="admin-content col-xs-9">{{teacher.firstname}}</div>
            </div>
            <div class="admin-details">
                <div class="admin-label col-xs-3">Nazwisko</div><div class="admin-content col-xs-9">{{teacher.surname}}</div>
            </div>
            <div class="admin-details">
                <div class="admin-label col-xs-3">Email</div><div class="admin-content col-xs-9">{{teacher.email}}</div>
            </div>
            <div class="admin-details">
                <div class="admin-label col-xs-3">Telefon</div><div class="admin-content col-xs-9">{{teacher.phone}}</div>
            </div>
            {% if teacher.subjects is not empty %}
                <div class="admin-details">
                    {% for subject in teacher.subjects %}
                        <div class="admin-label col-xs-3">{% if loop.first %}Przedmioty{% endif %}</div><div class="admin-content col-xs-9">{{subject}}</div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="col-xs-12">
            <a class="btn btn-ssok" href="{{ path('teacher_edit', { 'id': teacher.id }) }}">Edytuj</a>
        </div>
    </div>
{% endblock %}
