{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lessons list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Start</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Deletedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lesson in lessons %}
            <tr>
                <td><a href="{{ path('lesson_show', { 'id': lesson.id }) }}">{{ lesson.id }}</a></td>
                <td>{% if lesson.start %}{{ lesson.start|date('H:i:s') }}{% endif %}</td>
                <td>{% if lesson.createdAt %}{{ lesson.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if lesson.updatedAt %}{{ lesson.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if lesson.deletedAt %}{{ lesson.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('lesson_show', { 'id': lesson.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('lesson_edit', { 'id': lesson.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lesson_new') }}">Create a new lesson</a>
        </li>
    </ul>
{% endblock %}
