{% extends 'base.html.twig' %}

{% block body %}
    <h1>Replecements list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Deletedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for replecement in replecements %}
            <tr>
                <td><a href="{{ path('replecement_show', { 'id': replecement.id }) }}">{{ replecement.id }}</a></td>
                <td>{{ replecement.description }}</td>
                <td>{% if replecement.createdAt %}{{ replecement.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if replecement.updatedAt %}{{ replecement.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if replecement.deletedAt %}{{ replecement.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('replecement_show', { 'id': replecement.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('replecement_edit', { 'id': replecement.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('replecement_new') }}">Create a new replecement</a>
        </li>
    </ul>
{% endblock %}
