{% extends 'default/index.html.twig' %}

{% block content %}
    <div class="row">
        <h1 class="col-xs-6">Zastępstwo #{{replecement.id}}</h1>
        <div class="col-xs-6"><a class="btn btn-ssok" href="{{ path('replecement_index') }}">Powrót do listy</a></div>
        <div class="col-xs-12 admin-show">
            <div class="admin-details">
                <div class="admin-label col-xs-3">Opis</div><div class="admin-content col-xs-9">{{replecement.description| raw}}</div>
            </div>
            <div class="admin-details">
                <div class="admin-label col-xs-3">Data</div><div class="admin-content col-xs-9">{{ replecement.date|date('Y-m-d') }}</div>
            </div>
        </div>
        <div class="col-xs-12">
            <a class="btn btn-ssok" href="{{ path('replecement_edit', { 'id': replecement.id }) }}">Edytuj</a>
        </div>
    </div>
{% endblock %}
